<h1>Danh sách sản phẩm</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a>

<div class="container ">
  <div class="row" style="margin-top: 1rem">
      <div class="row fs-2" style="margin-left: 27rem">
        <p style="font-weight: 800">Danh sách sản phẩm </p>
      </div>
  </div>

  <table id="tableCustomer" class="table table-success table-striped"
         border="2" style="border-collapse:  collapse;padding-top: 10px;width: 96%;margin: auto">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Mô tả</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; index as i">
      <td>{{i + 1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
      <td>
        <!--    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>-->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"
                (click)="valueDelete(product.id, product.name)" style="margin-left: 5px">
          Delete
        </button>

      </td>
    </tr>
    </tbody>
  </table>

  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " style="color: red" id="exampleModalLabel">Cảnh Báo !!! </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa {{name}} hay không ???
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="delete()" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
