<form [formGroup]="facilityForm">
  <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Facility</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="form-control" type="hidden" id="add-serviceId">
          <div class="form-group">
            <label>Loại dịch vụ</label>
            <select class="form-control w-100" id="add-serviceType" onchange="formCreate()" formControlName="facilityType">
              <option value="" > Vui long chon</option>
              <option value="1">Villa</option>
              <option value="2" >House</option>
              <option value="3" >Room</option>
            </select>
          </div>
          <div class="form-group">
            <label>Tên dịch vụ</label>
            <input class="form-control" type="text" id="add-serviceName" name="name" formControlName="name">
          </div>

          <div class="form-group">
            <label>Diện tích sử dụng</label>
            <input class="form-control" type="text" id="add-serviceArea" name="area" formControlName="area">
          </div>

          <div class="form-group">
            <label>Giá</label>
            <input class="form-control" type="text" id="add-serviceCost" name="cost" formControlName="cost">
          </div>

          <div class="form-group">
            <label>Số người tối đa</label>
            <input class="form-control" type="text" id="add-serviceMaxPeople" name="maxPeople" formControlName="maxPeople">
          </div>

          <div class="form-group" id="add-standardRoom" >
            <label>Tiêu chuẩn phòng</label>
            <input class="form-control" type="text" name="standardRoom" formControlName="standardRoom">
          </div>

          <div class="form-group" id="add-descriptionOtherConvenience" >
            <label>Mô tả tiện nghi khác</label>
            <input class="form-control" type="text" name="descriptionOtherConvenience" formControlName="descriptionOtherConvenience">
          </div>

          <div class="form-group" id="add-poolArea">
            <label>Diện tích hồ bơi</label>
            <input class="form-control" type="text" name="poolArea" formControlName="poolArea">
          </div>

          <div class="form-group" id="add-numberOfFloors">
            <label>Số tầng</label>
            <input class="form-control" type="text" name="numberOfFloors" formControlName="numberOfFloors">
          </div>

          <div class="form-group">
            <label>Kiểu thuê</label>
            <select class="form-control w-100" id="add-rentType" formControlName="rentType">
              <option *ngFor="let item of rentTypeList" [ngValue]="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group" id="add-url">
            <label>URL</label>
            <input class="form-control" type="text" name="url" formControlName="url">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createFacility()">Create
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
