
<div class="container" style="width: 50rem;margin: auto">
  <div class="row">
  <div class="bg-white">
    <div class="h1 center-box "> Chỉnh sửa Customer</div>

    <div style="margin-left: 2rem">
<!--      <form  novalidate="novalidate" class="p-3">-->
        <input type="hidden" class="form-control" />

        <div class="form-group" style="margin-bottom: 7px">
          <label>Tên</label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-group" style="margin-bottom: 7px">
          <label>Ngày sinh</label>
          <input type="date" class="form-control" />
        </div>
        <div class="form-group" style="margin-bottom: 7px">
          <label>Giới tính</label>
          <select class="form-control" >
            <option value="0">Nam</option>
            <option value="1">Nữ</option>
          </select>
        </div>
        <div class="form-group" style="margin-bottom: 7px">
          <label>Chứng minh</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group" style="margin-bottom: 7px">
          <label>Số điện thoại</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group" style="margin-bottom: 7px">
          <label>Email</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group" style="margin-bottom: 7px">
          <label>Địa chỉ</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group" style="margin-bottom: 7px">
          <label>CustomerType</label>
          <select class="form-control w-100" id="addCustomerType">
            <option value="1">Diamond</option>
            <option value="2">Platinium</option>
            <option value="3">Gold</option>
            <option value="4">Silver</option>
          </select>
        </div>
        <div class="form-group" style="margin-top: 1rem;margin-bottom: 1rem">
          <input [routerLink]="['/customer']" type="submit" class="btn btn-primary" value="Back"/>
          <input type="submit" class="btn btn-danger" style="margin-left: 5px" value="Update"/>

        </div>
<!--      </form>-->
    </div>

  </div>
  </div>
</div>

